/* app.module.css */

.avatar{
  /* in top right */
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5%;
}
.muteSwitch{
  /* in top right, to the left of avatar */
  position: absolute;
  top: 0;
  right: 5%;
  margin: 0.5%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}


.centeredContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the div exactly in the middle */
  text-align: center;
}
.lowerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the div exactly in the middle */
  text-align: center;
}

.carouselContainer{
  max-width: 800px; /* Adjust the width as per your design */
  margin: 0 auto;
  padding: 20px;
}

.saveButton{
  margin: 10px auto;
  display: block;
}